<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 - We encountered an error.</title>
        <link rel="icon" href="favicon.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
            <div id="login-wrapper">
                <img src="circuit-main.png" id="main-logo">
                <div id="ctr-wrapper" style="padding-bottom: 40px;">
                    <p id="txt-header"><%= msg %> </p>
                        <div id="btn-ctr">
                            <button onclick="window.history.back();" id="submit-ctx" type="submit">RETURN</button>
                        </div>
                    </form>
                </div>
            </div>
    </body>
</html>