<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Air Alliance Circuit | Login</title>
        <link rel="stylesheet" href="login.css">
        <link rel="icon" href="favicon.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;600;700;900&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="client.min.js"></script>
    </head>
    <body>
        <div id="login-wrapper">
            <img src="circuit-main.png" id="main-logo">
            <div id="ctr-wrapper">
                <p id="txt-header">Login to your Circuit account</p>
                <form id="form-wrapper">
                    <input id="username-field" type="text" class="input-spacer" placeholder="Username">
                    <input id="password-field" type="password" placeholder="Password">
                    <div id="btn-ctr">
                        <button id="submit-ctx" type="submit">login to circuit</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>